<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>

        {% if errormessage %}
            <h3>{{ errormessage }}</h3>
        {% endif %}

        <form class="form" action="/loginForm" method="post">
            <h3><label for="username">
                Username:
            </label></h3>
            <input id="username" name="username" value="{{username}}" type="text">

            <h3><label for="password">
                Password:
            </label></h3>
            <input id="password" name="password" value="{{password}}" type="password">

            </br></br>
            <button id="submit">Submit</button>
        </form>
    </body>
</html>