<!DOCTYPE html>
<html>
    <head>
        <title>Create Project</title>
    </head>
    <body>
        <h1>Create Project</h1>

        {% if errormessage %}
            <h3>{{ errormessage }}</h3>
        {% endif %}

        <form class= form action="/projectForm" method="post"> 
            <h3><label for="project_name"> 
                Project Name:
            </label></h3>
            <input id="project_name" name="project_name" value="{{project_name}}" type="text">

            <h3><label for="project_value"> 
                Project Value: 
            </label></h3>
            <input id="project_value" name="project_value" value="{{project_value}}" type="number">

            <h3><label for="client_id"> 
                Client ID: 
            </label></h3>
            <input id="client_id" name="client_id" value="{{client_id}}" type="number">

            <br></br>

            <button id="submit">Submit</button>

        </form>
    </body>
</html>